main section{
    margin: 0 auto;
    width: 90%;
}


/* MEDIA QUERY
@media (max-width: 1120px) {
    main {
        width: 100%;
        background-color: blue;
    }

}

@media (max-width: 768px) {
    main{
        width: 100vw;
        background-color: red;
    }

}

@media (max-width: 576px){
    main{
        background-color: green;
    }

}

@media (max-width: 480px) {
    main{
        background-color: rgb(225, 171, 203);
    }

}

@media (max-width: 400px) {
    main{
        background-color: rgb(140, 32, 198);
    }

}

@media (max-width: 360px) {
    main{
        background-color: rgb(205, 62, 109);
    }

}

@media (min-width: 1200px) {
    main{
        background-color: rgb(219, 214, 66);
    }
} */
